.post {
	padding: 15px
}

button {
	margin-left: 10px;
}

h3 {
	padding: 0px;
}

.greenBack {
	background-color: #E2EFDB;
}

.redBack {
	background-color: #EFDFDF;
}

.normalBack {
	background-color: unset;
}

.greenText {
	color: #688C61;
}

.redText {
	color: #A8464B;
}

.normalText {
	color: unset;
}	