<div class="row">
    <div class="col-sm-8 col-offset-2">
        <h2>Faire un post</h2>
        <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="form-group purple-border">
                <label for="content">Texte</label>
                <textarea type="text" class="form-control" id="content" formControlName="content" row="4"></textarea>
            </div>
            <button class="btn btn-success" [disabled]="postForm.invalid " type="submit">Enregistrer</button>
        </form>
    </div>
</div> 